<div class="container fluid" > 
  
    <div class =“row” *ngIf="!isSubmitted"> <!-- row of form body -->

        <div class = "col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-xs-12"> <!-- col of form body -->
  
            <div class="row"> 
                <div class = "col-md-12 col-sm-8 col-xs-12" center> 
                 <h1 [ngStyle] = "{'color':'green'}"> Registration Form </h1>
                </div> 
            </div>

        <form #regForm="ngForm" (ngSubmit)="onSubmit()" novalidate> <!-- ngForm -->
          
          <div class = "form-group"> <!--email form class-->
          <div class="row">
              <div class="col-md-4"> <!-- left col-->
                  <label for="email">  Email Address   </label>
              </div><!-- left col-->
              <div class="col-md-8"> <!-- right col-->
                  <input class="form control" id="email" name="email" type="text" 
                          #email="ngModel" [(ngModel)]="model.email" required 
                          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"/>
                  
                  <div *ngIf="email.errors && (email.touched || isSubmitted)"> <!--has err and touched / submit button pressed -->                    
                      <div [hidden]="!email.errors.required && email.dirty" 
                          class="help-block alert alert-danger"> <!--hide when no err and sth entered or removed -->
                          Email is required. 
                      </div> <!-- hide when no err and sth entered or removed -->
                      <div [hidden]="!email.errors.pattern" 
                          class="help-block alert alert-danger"> <!-- hide when no pattern err -->
                          Email is invalid.
                      </div> <!-- hide when no pattern err-->
                  </div> <!-- has err and touched / submit button pressed -->
              </div><!-- right col-->
          </div> <!-- row -->
          </div> <!-- email form class -->
  
          <div class = "form-group"> <!--password form class-->
          <div class="row">
              <div class="col-md-4"> <!-- left col-->
                  <label for="password">  Password   </label>
              </div><!-- left col-->
              <div class="col-md-8"> <!-- right col-->
                  <input class="form control" id="password" name="password" type="password" 
                          #password="ngModel" [(ngModel)]="model.password" required 
                          pattern="^(?=.*\d)(?=.*[@#$])(?=.*[a-z])(?=.*[A-Z]).{8,}$"/>
                  
                  <div *ngIf="password.errors && (password.touched || isSubmitted)"> <!--has err and touched / submit button pressed -->                    
                      <div [hidden]="!password.errors.required && password.dirty" 
                          class="help-block alert alert-danger"> <!--hide when no err and sth entered or removed -->
                          Password is required.
                      </div> <!-- hide when no err and sth entered or removed -->
                      <div [hidden]="!password.errors.pattern" class="help-block alert alert-danger"> 
                          <!-- hide when no pattern err -->
                          <span class="help-block alert">Password must have at least 8 characters and include special characters (@#$). Alphanumeric and both uppercase & lowercase.</span>
                      </div> <!-- hide when no pattern err-->        
                  </div> <!-- has err and touched / submit button pressed -->
              </div><!-- right col-->
          </div> <!-- row -->
          </div> <!-- password form class -->
          
        <div class = "form-group"> <!-- name form class -->
        <div class="row">
            <div class="col-md-4"> <!-- left col-->
                <label for="name"> Name </label>
            </div><!-- left col-->
            <div class="col-md-8"> <!-- right col-->
            <input class="form control" id="name" name="name" type="text" 
                  #name="ngModel" [(ngModel)]="model.name" required/>
            
            <div *ngIf="name.errors && (name.touched || isSubmitted)"> 
                <!-- has err and touched / submit button pressed-->
                <div [hidden]="!name.errors.required && name.dirty" 
                      class="help-block alert alert-danger"> 
                <!-- hide when no err and sth entered-->
                    Name is required.
                </div> <!-- hide when no err and sth entered or removed-->
            </div> <!-- has err and touched / submit is pressed -->
        </div><!-- right col-->    
        </div> <!-- row -->
        </div> <!-- name form class -->
  
        <div class = "form-group"> <!-- gender form class -->
          <div class="row">
              <div class="col-md-4"> <!-- left col-->
                  <label for="gender"> Gender </label>
              </div><!-- left col-->
              <div class="col-md-8"> <!-- right col-->
                  <input name="gender" type="radio" [(ngModel)]="model.gender" value="{{gender[0]}}" required="required"/> Male
                  <input name="gender" type="radio" [(ngModel)]="model.gender" value="{{gender[1]}}" /> Female
              </div><!-- right col-->
          </div> <!-- row -->
          </div> <!-- gender form class -->
  
      <div class = "form-group"> <!-- DOB form class -->
          <div class="row">
              <div class="col-md-4"> <!-- left col-->
                  <label for="dob"> Date of Birth </label>
              </div><!-- left col-->
                  <div class="col-md-8"> <!-- right col-->
                  <input class="form control" id="dob" name="dob" type="date" 
                        #dateOfBirth="ngModel" [(ngModel)]="model.dateOfBirth" (ngModelChange)="updateAge($event)" required/>
                  <div *ngIf="dateOfBirth.errors && (dateOfBirth.touched || isSubmitted)"> 
                        <div [hidden]="!address.errors.required && address.dirty" class="help-block alert alert-danger"> 
                                Date of birth is required.
                        </div>   
                    </div> <!-- has err and touched / submit is pressed -->  
                <div *ngIf="(model.age<17) && (dateOfBirth.dirty || isSubmitted)" class="help-block alert alert-danger">                      
                            Age must be at least 18 years old.                
                </div> 
                       
              </div><!-- right col-->
          </div> <!-- row -->
          </div> <!-- DOB form class -->
  
          <div class = "form-group"> <!-- address form class -->
              <div class="row">
                  <div class="col-md-4"> <!-- left col-->
                      <label for="address"> Address </label>
                  </div><!-- left col-->
                  <div class="col-md-8"> <!-- right col-->
                  <textarea rows="3" cols="20" class ="form-contol" id="address" name="address" 
                        #address="ngModel" [(ngModel)]="model.address" required>
                  </textarea>
              
                    <div *ngIf="address.errors && (address.touched || isSubmitted)"> 
                      <!-- has err and touched / submit button pressed-->
                      <div [hidden]="!address.errors.required && address.dirty" 
                            class="help-block alert alert-danger"> 
                      <!-- hide when no err and sth entered-->
                          Address is required.
                      </div> <!-- hide when no err and sth entered or removed-->
                  </div> <!-- has err and touched / submit is pressed -->
                  </div><!-- right col-->
              </div> <!-- row -->
          </div> <!-- name form class -->
                
  
          <div class = "form-group"> <!-- country form class -->
              <div class="row">
                  <div class="col-md-4"> <!-- left col-->
                      <label for="country"> Country </label>
                  </div><!-- left col-->
                  <div class="col-md-8"> <!-- right col-->
                  <select class="form control" id="country" #country="ngModel"
                      [(ngModel)]="model.country" [ngModelOptions]="{standalone: true}" required>
                      <option *ngFor="let country of countries" [ngValue]="country.value">{{country.desc}}</option>
                  </select>
                  <div *ngIf="country.errors && (country.touched || isSubmitted)"> 
                      <!-- has err and touched / submit button pressed-->
                      <div [hidden]="!country.errors.required && country.dirty" 
                            class="help-block alert alert-danger"> 
                      <!-- hide when no err and sth entered-->
                          Country is required.
                      </div> <!-- hide when no err and sth entered or removed-->
                  </div> <!-- has err and touched / submit is pressed -->
                  </div><!-- right col-->
              </div> <!-- row -->
          </div> <!-- country form class -->
  
      <div class = "form-group"> <!-- contact form class -->
        <div class="row">
            <div class="col-md-4"> <!-- left col-->
                <label for="contactNum"> Contact Number </label>
            </div><!-- left col-->
            <div class="col-md-8"> <!-- right col-->
            <input class="form control" id="contactNum" name="contactNum" type="text" 
                    #contactNum="ngModel" [(ngModel)]="model.contactNum" required
                    pattern="^[(|+|-|\s|\d][^!@#$%^&*]*$"/>
              
                <div *ngIf="contactNum.errors && (contactNum.touched || isSubmitted)"> 
                      <!-- has err and touched / submit button pressed-->
                    <div [hidden]="!contactNum.errors.required && contactNum.dirty" 
                        class="help-block alert alert-danger"> 
                      <!-- hide when no err and sth entered-->
                          Contact Number is required.
                    </div> <!-- hide when no err and sth entered or removed-->
                    <div [hidden]="!contactNum.errors.pattern" class="help-block alert alert-danger"> 
                        <!-- hide when no pattern err -->
                        <span class="help-block alert">
                          Contact Number cannot have special characters. But you may use +,-,space and round brackets to identify area code and extension.
                        </span>
                    </div> <!-- hide when no pattern err-->                    
                </div> <!-- has err and touched / submit is pressed -->
            </div><!-- right col-->
        </div> <!-- row -->
        </div> <!-- contact form class -->
                
  
        <div class="form-group" class = "row"> <!-- button form class -->
            <div class = "col-6 offset-4">
                <br/>
                <button type="submit" class="btn btn-primary" [disabled]="!regForm.form.valid">submit</button>
            </div> 
        </div><!-- button form class -->
  
        </form> <!-- ngForm -->
        </div> <!-- col of form body --> 
    </div> <!-- row of form body -->
  
    <div class=“row” *ngIf="isSubmitted"> <!--row result-->
        <div class = "col-12 offset-2"> <!--col result-->
            <h3 [ngStyle] = "{'color':'blue'}"> Thank you for submitting the registration!</h3>
            <br/>
            <div>Email: {{model.email}}</div>
            <div>Password: {{model.password}}</div>
            <div>Name: {{model.name}}</div>
            <div>Gender: {{model.gender}}</div>
            <div>Date Of Birth: {{model.dateOfBirth |date}}</div>
            <div>Address: {{model.address}}</div>
            <div>Country: {{model.country}}</div>
            <div>Contact Number: {{model.contactNum}}</div>
            <br/>
        <!--<div>{{model.age}}</div> -->
        </div> <!--col result-->

        <div class=“row”>
            <div class = "col-6 offset-3">
                <button type="submit" class="btn btn-primary" (click)="onBack()"> Back </button>
            </div>
        </div>
    </div> <!--row result-->


  <!--
   <div>
        <p> date is {{this.model.dateOfBirth}}</p>
        <p> DOB is {{this.model.dateOfBirth | date}}</p>
        <p> Age is {{this.model.age}}</p>
   </div>
-->

