<div class="row">
  <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12">
      <h1>{{title}}</h1>
  </div>
</div> 
<hr/>  
<div *ngFor="let review of reviewsProduct" >
<div>
  Rating : {{review.rating}}
</div>
<div>
  by {{review.by}}
</div>
<div>
  Review >>> :  {{review.comment}}
</div>
<br>
</div>