<div class="container fluid"> 
  <div class="row"> 
      <div class = "col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12" center> 
          <h1 [ngStyle] = "{'color':'green'}"> Registration Form </h1>
      </div> 
  </div> 

  <div class =“row” *ngIf="!isSubmitted"> <!-- row of form body -->
      <div class = "col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12"> <!-- col of form body -->

      <form #regForm="ngForm" (ngSubmit)="onSubmit()" novalidate> <!-- ngForm -->
        
        <div class = "form-group"> <!--email form class-->
        <div class="row">
            <div class="col-md-5"> <!-- left col-->
                <label for="email">  Email Address   </label>
            </div><!-- left col-->
            <div class="col-md-6"> <!-- right col-->
                <input class="form control" id="email" name="email" type="text" 
                        #email="ngModel" [(ngModel)]="model.email" required 
                        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"/>
                
                <div *ngIf="email.errors && (email.touched || isSubmitted)"> <!--has err and touched / submit button pressed -->                    
                    <div [hidden]="!email.errors.required && email.dirty" 
                        class="help-block alert alert-danger"> <!--hide when no err and sth entered or removed -->
                        <span class="help-block alert">Email is required.</span>
                    </div> <!-- hide when no err and sth entered or removed -->
                    <div [hidden]="!email.errors.pattern" 
                        class="help-block alert alert-danger"> <!-- hide when no pattern err -->
                        Email is invalid.
                    </div> <!-- hide when no pattern err-->
                </div> <!-- has err and touched / submit button pressed -->
            </div><!-- right col-->
        </div> <!-- row -->
        </div> <!-- email form class -->

        <div class = "form-group"> <!--password form class-->
        <div class="row">
            <div class="col-md-5"> <!-- left col-->
                <label for="password">  Password   </label>
            </div><!-- left col-->
            <div class="col-md-7"> <!-- right col-->
                <input class="form control" id="password" name="password" type="password" 
                        #password="ngModel" [(ngModel)]="model.password" required 
                        pattern="^(?=.*\d)(?=.*[@#$])(?=.*[a-z])(?=.*[A-Z]).{8,}$"/>
                
                <div *ngIf="password.errors && (password.touched || isSubmitted)"> <!--has err and touched / submit button pressed -->                    
                    <div [hidden]="!password.errors.required && password.dirty" 
                        class="help-block alert alert-danger"> <!--hide when no err and sth entered or removed -->
                        Password is required.
                    </div> <!-- hide when no err and sth entered or removed -->
                    <div [hidden]="!password.errors.pattern" 
                        class="help-block alert alert-danger"> <!-- hide when no pattern err -->
                        <span class="help-block alert">Password must include special characters (@#$). Alphanumeric and both uppercase & lowercase.</span>
                    </div> <!-- hide when no pattern err-->
                </div> <!-- has err and touched / submit button pressed -->
            </div><!-- right col-->
        </div> <!-- row -->
        </div> <!-- password form class -->
        
      <div class = "form-group"> <!-- name form class -->
      <div class="row">
          <div class="col-md-5"> <!-- left col-->
              <label for="name"> Name </label>
          </div><!-- left col-->
          <div class="col-md-7"> <!-- right col-->
          <input class="form control" id="name" name="name" type="text" 
                #name="ngModel" [(ngModel)]="model.name" required/>
      
          <div *ngIf="name.errors && (name.touched || isSubmitted)"> 
              <!-- has err and touched / submit button pressed-->
              <div [hidden]="!name.errors.required && name.dirty" 
                    class="help-block alert alert-danger"> 
              <!-- hide when no err and sth entered-->
                  Name is required.
              </div> <!-- hide when no err and sth entered or removed-->
          </div> <!-- has err and touched / submit is pressed -->
          </div><!-- right col-->
      </div> <!-- row -->
      </div> <!-- name form class -->

      <div class = "form-group"> <!-- gender form class -->
        <div class="row">
            <div class="col-md-5"> <!-- left col-->
                <label for="gender"> Gender </label>
            </div><!-- left col-->
            <div class="col-md-7"> <!-- right col-->
                <input name="gender" type="radio" [(ngModel)]="model.gender" value="{{gender[0]}}" /> Male
                <input name="gender" type="radio" [(ngModel)]="model.gender" value="{{gender[1]}}" /> Female
            </div><!-- right col-->
        </div> <!-- row -->
        </div> <!-- gender form class -->

    <div class = "form-group"> <!-- DOB form class -->
        <div class="row">
            <div class="col-md-5"> <!-- left col-->
                <label for="dob"> Date of Birth </label>
            </div><!-- left col-->
                <div class="col-md-6"> <!-- right col-->
                <input class="form control" id="dob" name="dob" type="date" 
                      #dob="ngModel" [(ngModel)]="model.dob" required/>
            
                <div *ngIf="dob.errors && (dob.touched || isSubmitted)"> 
                    <!-- has err and touched / submit button pressed-->
                    <div [hidden]="!dob.errors.required && dob.dirty" 
                          class="help-block alert alert-danger"> 
                    <!-- hide when no err and sth entered-->
                        Date of Birth is required.
                    </div> <!-- hide when no err and sth entered or removed-->
                </div> <!-- has err and touched / submit is pressed -->
            </div><!-- right col-->
        </div> <!-- row -->
        </div> <!-- DOB form class -->

        <div class = "form-group"> <!-- address form class -->
            <div class="row">
                <div class="col-md-5"> <!-- left col-->
                    <label for="address"> Address </label>
                </div><!-- left col-->
                <div class="col-md-6"> <!-- right col-->
                <textarea rows="3" cols="20" class ="form-contol" id="address" name="address" 
                      #address="ngModel" [(ngModel)]="model.address" required>
                </textarea>
            
                <div *ngIf="address.errors && (address.touched || isSubmitted)"> 
                    <!-- has err and touched / submit button pressed-->
                    <div [hidden]="!address.errors.required && address.dirty" 
                          class="help-block alert alert-danger"> 
                    <!-- hide when no err and sth entered-->
                        Address is required.
                    </div> <!-- hide when no err and sth entered or removed-->
                </div> <!-- has err and touched / submit is pressed -->
                </div><!-- right col-->
            </div> <!-- row -->
        </div> <!-- name form class -->
              

        <div class = "form-group"> <!-- country form class -->
            <div class="row">
                <div class="col-md-5"> <!-- left col-->
                    <label for="country"> Country </label>
                </div><!-- left col-->
                <div class="col-md-6"> <!-- right col-->
                <select class="form control" id="country" #country="ngModel"
                    [(ngModel)]="model.country" [ngModelOptions]="{standalone: true}" required>
                    <option *ngFor="let country of countries" [ngValue]="country.value">{{country.desc}}</option>
                </select>
                <div *ngIf="country.errors && (country.touched || isSubmitted)"> 
                    <!-- has err and touched / submit button pressed-->
                    <div [hidden]="!country.errors.required && country.dirty" 
                          class="help-block alert alert-danger"> 
                    <!-- hide when no err and sth entered-->
                        Country is required.
                    </div> <!-- hide when no err and sth entered or removed-->
                </div> <!-- has err and touched / submit is pressed -->
                </div><!-- right col-->
            </div> <!-- row -->
        </div> <!-- country form class -->

    <div class = "form-group"> <!-- contact form class -->
            <div class="row">
                <div class="col-md-6"> <!-- left col-->
                    <label for="contactNum"> Contact Number </label>
                </div><!-- left col-->
                <div class="col-md-6"> <!-- right col-->
                <input class="form control" id="contactNum" name="contactNum" type="text" 
                      #contactNum="ngModel" [(ngModel)]="model.contactNum" required
                      pattern="^\d+\d{8}$"/>
            
                <div *ngIf="contactNum.errors && (contactNum.touched || isSubmitted)"> 
                    <!-- has err and touched / submit button pressed-->
                    <div [hidden]="!contactNum.errors.required && contactNum.dirty" 
                          class="help-block alert alert-danger"> 
                    <!-- hide when no err and sth entered-->
                        Contact Number is required.
                    </div> <!-- hide when no err and sth entered or removed-->
                    <div [hidden]="!contactNum.errors.pattern" 
                    class="help-block alert alert-danger"> <!-- hide when no pattern err -->
                    <span class="help-block alert">Contact Number cannot have character (+,-,space). Round brackets are allowed for area code and extension.</span>
              </div> <!-- hide when no pattern err-->                    
                </div> <!-- has err and touched / submit is pressed -->
                </div><!-- right col-->
            </div> <!-- row -->
        </div> <!-- contact form class -->
              

      <div class="form-group"> <!-- button form class -->
          <button type="submit" class="btn btn-primary" [disabled]="regForm.form.valid">submit</button>
      </div> <!-- button form class -->

      </form> <!-- ngForm -->
      </div> <!-- col of form body --> 
  </div> <!-- row of form body -->

  <div class=“row”> <!--row result-->
      <div class = "col-6"> <!--col result-->
          <div>{{model.email}}</div>
          <div>{{model.password}}</div>
          <div>{{model.name}}</div>
          <div>{{model.gender}}</div>
          <div>{{model.dob}}</div>
          <div>{{model.address}}</div>
          <div>{{model.country}}</div>
          <div>{{model.age}}</div>
          <p>Today is {{todayDate}}</p>
          <p>DOB is {{this.model.dob | date}}</p>
      </div> <!--col result-->
  </div> <!--row result-->

  <div *ngIf="isSubmitted">
    <div> submitted</div>
  </div>


