<br>
<h1 class="text-center">Order Form</h1>
<div class="container">

<form #orderForm="ngForm" (ngSubmit)="submitOrder()" novalidate>
 
  <h5>
      Order Details
  </h5>
<!--
  <div class="form-group form-inline">
        <label for="menuName">Menu: </label>
        <input id="menuName"  #quanity="ngModel" name="menuName" type="text" 
        class="form-control mb-2 mr-sm-2"  [(ngModel)]="orderModel.menuName"  />   
    </div>

    <div class="form-group form-inline">
        <label for="quantity">Quantity: </label>
        <input id="quanity"  #quanity="ngModel" name="quanity" type="text" 
        class="form-control mb-2 mr-sm-2"  [(ngModel)]="orderModel.quanity" [ngClass]="{'has-error': name.errors}" required />   
    </div>
-->
  <div class="form-group ">
      <div> <label for="eventDate">Event Date: </label> </div>
    <input id="eventDate" #eventDate="ngModel" name="eventDate" type="date" 
    [(ngModel)]="orderModel.eventDate" placeholder="Event Date" class="form-control" required/>
    <div *ngIf="eventDate.errors && (eventDate.touched || isSubmitted)">
        <div [hidden]="!eventDate.errors.required && eventDate.dirty" 
        class="help-block alert alert-danger" >
            Event Date is required.
        </div>
</div> 
  </div>

  <div class="form-group form-inline" >
      <label for="time">Event Time: </label>

      <div class="form-group form-inline" >
      <select class="form-control " #hour="ngModel" id="hour" [(ngModel)]="orderForm.hour" 
      [ngModelOptions]="{standalone: true}"  required>
        <option *ngFor="let hh of HH" [ngValue]="hh.value">{{hh.value}}</option>     
      </select>
      <small id="hour" class="form-text text-muted">Hours</small>
     </div>

      <div class="form-group form-inline" >
      <select class="form-control " #min="ngModel" id="min" [(ngModel)]="orderForm.min" 
      [ngModelOptions]="{standalone: true}"  required>
          <option *ngFor="let mm of MM" [ngValue]="mm.value">{{mm.value}}</option> 
      </select> 
      <small id="min" class="form-text text-muted">Minutes</small>
      </div>

     <div class="form-group" >
      <input  name="ampm" type="radio" [(ngModel)]="orderModel.ampm" value="{{zone[0]}}"/> AM
      <input  name="ampm" type="radio" [(ngModel)]="orderModel.ampm" value="{{zone[1]}}" /> PM
      </div>
    </div>

    <div class="form-group">
            <label for="venueAddress">Event Venue </label>
            <textarea rows="3"  id="venueAddress" name="venueAddress" #venueAddress="ngModel" 
            class="form-control" [(ngModel)]="orderModel.venueAddress" maxlength ="300" required>
            </textarea>
            <small id="venueAddress" class="form-text text-muted">Please indicate exact location or prominent landmark</small>

            <div *ngIf="venueAddress.errors && (venueAddress.touched || isSubmitted)">
                    <div [hidden]="!venueAddress.errors.required && venueAddress.dirty" 
                    class="help-block alert alert-danger" >
                        Event Venue is required.
                    </div>
            </div> 
    </div>


    <h5>
      Contact Details
    </h5>
    
    <div class="form-group ">
        <div> <label for="name">Name: </label> </div>
      <input id="name" #name="ngModel" name="name" type="text" 
      [(ngModel)]="orderModel.name" placeholder="Your Name" class="form-control " required/>

      <div *ngIf="name.errors && (name.touched || isSubmitted)">
        <div [hidden]="!name.errors.required && name.dirty" 
        class="help-block alert alert-danger" >
            Name is required.
        </div>
    </div> 
    </div>  
 
    <div class="form-group " >
        <label for="eventType">Event Type</label>
        <input type="radio" name="eventType" id="eventType" [(ngModel)]="eventType" value="personal" checked>Personal 
        <input type="radio" name="eventType" id="eventType" [(ngModel)]="eventType" value="corporate"> Bill to Company
    </div>

    <div *ngIf="eventType=='corporate'"  class="form-group ">
        <div> <label for="company">Company Name: </label> </div>
      <input id="company" #company="ngModel" name="company" type="text" 
      [(ngModel)]="orderModel.company"   placeholder="Company Name" class="form-control " 
      [ngClass]="{'has-error': company.errors}" />
    </div>

    <div class="form-check">
        <input type="checkbox" class="form-check-input" [(ngModel)]="reqBillAddr" id="reqBillAddr" name="reqBillAddr">
        <label class="form-check-label" for="reqBillAddr">Billing Address different from venue </label>
    </div>

    <div *ngIf="reqBillAddr" class="form-group">
        <label for="billAddress">Billing Address: </label>
        <textarea rows="3" cols="10" id="billAddress" name="billAddress" #billAddress="ngModel" 
        class="form-control " [(ngModel)]="orderModel.billAddress" >
        </textarea>  
    </div>

    <div class="form-group " >
        <div> <label for="email">Email Address: </label> </div>      
        <input id="email" #email="ngModel" name="email" type="text" 
        [(ngModel)]="orderModel.email" placeholder="you@domain.com" class="form-control mb-2 mr-sm-2" 
        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"  required/>

        <div *ngIf="email.errors && (email.touched || isSubmitted)">
            <div [hidden]="!email.errors.required && email.dirty" class="help-block alert alert-danger">
                Email is required.
            </div>
            <div [hidden]="!email.errors.pattern" class="help-block alert alert-danger">
                <span class="help-block alert"> Email is invalid. </span>
            </div>
        </div>
    </div>

    <div class="form-group ">
        <label for="mobileNumber">Mobile Number: </label>
        <input id="mobileNumber"  #mobileNumber="ngModel" name="v" type="text" class="form-control"  
        [(ngModel)]="orderModel.mobileNumber" minlength="8" maxlength="8" pattern="[0-9]*" required/>
        <div *ngIf="mobileNumber.errors && (mobileNumber.touched || isSubmitted)">
                <div [hidden]="!mobileNumber.errors.required && mobileNumber.dirty" 
                class="help-block alert alert-danger">
                    Mobile Number is required.
                </div>
                <div [hidden]="!mobileNumber.errors.pattern" class="help-block alert alert-danger">
                    <span class="help-block alert">Invalid entry, only numbers 0 to 9 are accepted.
                    </span>
                </div>
                <div [hidden]="!mobileNumber.errors.minlength" class="help-block alert alert-danger">
                    <span class="help-block alert">Mobile must contain 8 numbers.
                    </span>
                </div>
        </div>    
    </div>

    <div class="form-group ">
        <label for="otherContact">Other Contact Number: </label>
        <input id="otherContact"  #contactNumber="ngModel" name="otherContact" type="text" 
        class="form-control "  [(ngModel)]="orderModel.otherContact"  />   
    </div>

    <div class="form-group ">
            <label for="remarks">Remarks: </label>
            <textarea rows="3" cols="10" id="remarks" name="remarks" #address="ngModel" 
            class="form-control " [(ngModel)]="orderModel.remarks" maxlength ="1000"></textarea> 
        </div>


    <button type="submit" id="btn" [disabled]="!orderForm.form.valid" 
    class="btn btn-primary">Submit</button>
    <div [hidden]="orderForm.form.valid">      
    <small id="min" class="form-text text-muted">Please complete required fields to submit.</small>
    </div>
</form>
</div>
