<!-- <h1 class="container">Menu Creation and Modification</h1> -->

<!-- Start of Button Group -->
<div class="container align-items-center">
<div class="btn-toolbar" role="toolbar" >   
    <button type="button" class="btn btn-primary mr-2 active" aria-pressed="true" (click)="listMenus()">Buffet Set Menus </button>
    <button type="button" class="btn btn-primary mr-2 active" aria-pressed="true" (click)="createMenu()">Create New Menu</button>
    <button type="button" class="btn btn-primary mr-2 active" aria-pressed="true" (clcik)="createNewUser()">Create New User</button>
 <!-- <button type="button" class="btn btn-primary mr-2 active" aria-pressed="true" (click)="showAlacart()">Alacart Dishes</button>
 -->
</div>
</div>
<!-- End of Button Group -->

<!--  DISPLAY ALL MENUS -->
<div class="container" *ngIf="showMenus">
    <table  class="table">
        <thead>
            <tr>
                <th>#</th>
                <th> Existing Buffet Set Menus</th>
                <th> Operations </th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let buffet of buffets; let i = index">
            <th scope="row">{{i +1}}</th> 
        <td >
            <h5 >{{buffet.buffet_name | titlecase}} @ ${{buffet.price }} per {{buffet.unit | titlecase}}</h5>
            <p> {{buffet.descriptions}}</p>
        </td>
            <td>
                <button class="btn btn-light" data-toggle="tooltip" data-placement="top" title="view menu"
                    (click)="viewMenu(buffet,templateEM,i)"> View Details </button>
            </td>
            </tr>
        </tbody>
    </table>
    
</div>
<!-- End of Display All Menus -->

<!-- Create New Menu and Dishes -->
<div class="container" >
<div class="row">
<!-- Checkbox Selections -->
    <div class="col-4 mt-3"  *ngIf="showTypes">
        <div class="row pt-1 pb-1">
            <p class="font-weight-bold">Step 1. </p>
            <p> Select Dish Category</p>
            <li class="font-weight-light small">Select its check box to show or hide a dish category. </li>
        </div> <!-- row -->
        <div class="form-check">
            <input type="checkbox" class="form-check-input" [(ngModel)]="showAppetisers" id="showAppetisers" name="showAppetisers">
            <label class="form-check-label" for="showAppetisers"> Appetiser Dishes </label>     
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" [(ngModel)]="showStaples" id="showStaples" name="showStaples">
            <label class="form-check-label" for="showStaples"> Staple Dishes</label>   
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" [(ngModel)]="showSeafoods" id="showSeafoods" name="showSeafoods">
            <label class="form-check-label" for="showSeafoods"> Seafood Dishes</label>     
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" [(ngModel)]="showFishes" id="showFishes" name="showFishes">
            <label class="form-check-label" for="showFishes"> Fish Dish</label>   
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" [(ngModel)]="showRedmeats" id="showRedmeats" name="showRedmeats">
            <label class="form-check-label" for="showRedmeats"> RedMeat Dishes</label>     
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" [(ngModel)]="showChickens" id="showChickens" name="showChickens">
            <label class="form-check-label" for="showChickens"> Chicken Dishes </label>   
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" [(ngModel)]="showVegetables" id="showVegetables" name="showVegetables">
            <label class="form-check-label" for="showVegetables"> Vegetable Dishes </label>     
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" [(ngModel)]="showSides" id="showSides" name="showSides">
            <label class="form-check-label" for="showSides"> Side Dishes </label>   
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" [(ngModel)]="showBakes" id="showBakes" name="showBakes">
            <label class="form-check-label" for="showBakes"> Pastries </label>   
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" [(ngModel)]="showDesserts" id="showDesserts" name="showDesserts">
            <label class="form-check-label" for="showDesserts">Select Desserts </label>     
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" [(ngModel)]="showBeverages" id="showBeverages" name="showBeverages">
            <label class="form-check-label" for="showBeverages"> Beverages </label>   
        </div>
    </div> <!-- col 1 -->
<!-- Display List of Alacart Dishes -->
<div class="col-4 mt-3">
    <div class="row pt-1 pb-1" *ngIf="showTypes">
        <p class="font-weight-bold">Step 2. </p>
        <p> Select Dishes</p>
        <li class="font-weight-light small">Select by clicking on the dish name </li>
    </div> <!-- row -->
    <div *ngIf="showAppetisers">
        <p>Appetisers:</p>
        <div class="row" *ngFor="let appetiser of appetisers">
            <button class="btn btn-outline-info btn-block" type="button" (click)="addToList(appetiser)">
                {{appetiser.dish_name | titlecase}}</button>   
        </div> <!-- row-->
        <button class="btn btn-outline-primary btn-block" type="button" (click)="CreateNewDish(staples,templateD,1)">
                Create New Appetiser </button> 
    </div> 
    <div *ngIf="showStaples">
        <p>Staples:</p>
        <div class="row" *ngFor="let staple of staples">
            <button class="btn btn-outline-info btn-block" type="button" (click)="addToList(staple)">
                {{staple.dish_name | titlecase}}</button>
        </div> <!-- row-->
        <button class="btn btn-outline-primary btn-block" type="button" (click)="CreateNewDish(staples,templateD,2)">
                Create New Staple </button>
    </div> 
    <div *ngIf="showSeafoods">
        <p>Seafood:</p>
        <div class="row" *ngFor="let seafood of seafoods">
            <button class="btn btn-outline-info btn-block" type="button" (click)="addToList(seafood)">
                {{seafood.dish_name | titlecase}}</button>
        </div> <!-- row-->
        <button class="btn btn-outline-primary btn-block" type="button" (click)="CreateNewDish(seafoods,templateD,3)">
                Create New Seafood</button>
    </div> 
    <div *ngIf="showFishes">
        <p>Fish:</p>
        <div class="row" *ngFor="let fish of fishes">
            <button class="btn btn-outline-info btn-block" type="button" (click)="addToList(fish)">
                {{fish.dish_name | titlecase}}</button>
        </div> <!-- row-->
        <button class="btn btn-outline-primary btn-block" type="button" (click)="CreateNewDish(fishes,templateD,4)">
                Create New Fish Dish </button>
    </div> 
    <div *ngIf="showRedmeats">
        <p>Redmeat:</p>
        <div class="row" *ngFor="let redmeat of redmeats">
            <button class="btn btn-outline-info btn-block" type="button" (click)="addToList(redmeat)">
                {{redmeat.dish_name | titlecase}}</button>
        </div> <!-- row-->
        <button class="btn btn-outline-primary btn-block" type="button" (click)="CreateNewDish(redmeats,templateD,5)">
                Create New Redmeat </button>
    </div> 
    <div *ngIf="showChickens">
        <p>Chicken</p>
        <div class="row" *ngFor="let chicken of chickens">
            <button class="btn btn-outline-info btn-block" type="button" (click)="addToList(chicken)">
                {{chicken.dish_name | titlecase}}</button>              
        </div> <!-- row-->
        <button class="btn btn-outline-primary btn-block" type="button" (click)="CreateNewDish(chickens,templateD,6)">
                Create New Chicken Dish </button>  
    </div> 
    <div *ngIf="showVegetables">
        <p>Vegetable:</p>
        <div class="row" *ngFor="let vegetable of vegetables">
            <button class="btn btn-outline-info btn-block" type="button" (click)="addToList(vegetable)">
                {{vegetable.dish_name | titlecase}}</button>
        </div> <!-- row-->
        <button class="btn btn-outline-primary btn-block" type="button" (click)="CreateNewDish(vegetables,templateD,7)">
                Create New Vegetable Dish </button>
    </div> 
    <div *ngIf="showSides">
        <p>Side Dishes:</p>
        <div class="row" *ngFor="let side of sides">
            <button class="btn btn-outline-info btn-block" type="button" (click)="addToList(side)">
                {{side.dish_name | titlecase}}</button>
        </div> <!-- row-->
        <button class="btn btn-outline-primary btn-block" type="button" (click)="CreateNewDish(sides,templateD,8)">
                Create New Side Dish </button>
    </div> 
    <div *ngIf="showBakes">
        <p>Pastries</p>
        <div class="row" *ngFor="let bake of bakes">
            <button class="btn btn-outline-info btn-block" type="button" (click)="addToList(bake)">
                {{bake.dish_name | titlecase}}</button>
        </div> <!-- row-->
        <button class="btn btn-outline-primary btn-block" type="button" (click)="CreateNewDish(bakes,templateD,9)">
                Create New Pastries </button>
    </div> 
    <div *ngIf="showDesserts">
        <p>Dessert:</p>
        <div class="row" *ngFor="let dessert of desserts">
            <button class="btn btn-outline-info btn-block" type="button" (click)="addToList(dessert)">
                {{dessert.dish_name | titlecase}}</button>
        </div> <!-- row-->
        <button class="btn btn-outline-primary btn-block" type="button" (click)="CreateNewDish(desserts,templateD,10)">
                Create New Dessert </button>
    </div> 
    <div  *ngIf="showBeverages">
        <p> Beverages:</p>
        <div class="row" *ngFor="let beverage of beverages">
            <button class="btn btn-outline-info btn-block" type="button" (click)="addToList(beverage)">
                {{beverage.dish_name | titlecase}}</button>
        </div> <!-- row-->
        <button class="btn btn-outline-primary btn-block" type="button" (click)="CreateNewDish(beverages,templateD,11)">
                Create New Beverage </button>
    </div> 
</div> <!-- col 2 -->

<!-- New Menu Details -->
<div class="col-4" *ngIf="showTypes">
    <div class="row mt-3">
        <p class="font-weight-bold">Step 3. </p>
        <p> Review Selections</p>  
        <li class="font-weight-light small"> Selected dishes will appears here. </li>
        <li class="font-weight-light small"> Click on the dish name to remove from list. </li>
    </div> <!-- row 1-->
    <div class="card pl-1" *ngIf="itemSelected">
        <div class ="row" *ngFor="let dish of newMenuDishList; let i=index">
            <p><button class="btn btn-link btn-small" type="button" (click)="removeFromList(i)">
                {{dish | titlecase}}</button></p>
        </div> <!-- inner row -->
    </div> <!-- card (row 2)-->
    <div class= "card" *ngIf="!itemSelected" >
        <li class="font-weight-light small"> Sample Dish 1</li>
        <li class="font-weight-light small"> Sample Dish 2</li>
    </div> <!-- card (row 3)-->
    <div> 
        <button class="btn btn-primary" type="button" (click)="editNewMenu(templateM)" [disabled]="!itemSelected">
            Proceed to Save</button>
    </div> <!-- button (row 3) -->
</div> <!-- col 3 -->
<!-- New Menu Details -->
</div> <!-- row -->
</div> <!-- container -->


<!-- end of Create New Menu -->


<!-- TEMPLATES-->
<!-- Edit Buffet Menu Title -->
<ng-template #templateEM>
<div class="modal-header">
    <h4 class="modal-title pull-left">{{editBuffet.buffet_name | titlecase}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
    </button>
</div> <!-- modal-header-->
<div class="modal-body ">
        <div class="container ml-3">
            <div class="col m-0 p-0 font-weight-bold"> Price: <span style="font-weight:normal">${{editBuffet.price }} per {{editBuffet.unit | titlecase}}</span></div>
            <div class="m-0 p-0 font-weight-bold">Descriptions:  <span style="font-weight:normal">{{editBuffet.descriptions| titlecase}}</span> </div>
            <div class="m-0 p-0 font-weight-bold">Dishes:</div> 
        </div>

        <div class="small container ml-5" *ngFor="let item of menuItems; let i=index ">
            {{i+1}}. 
            <div style="display:inline;">{{ item.dish_name | titlecase}} </div>
        </div>

    <form class="container" #editBuffetForm="ngForm" (ngSubmit)="saveEditMenu()" novalidate>
        <div class="form-group col-8-offset-4">
            <input class="form-control form-control-sm" id="buffet_name" #buffetname="ngModel" name="buffet_name" type="text" 
            [(ngModel)]="editBuffet.buffet_name"   placeholder="Buffet Name" required/>
        </div> <!-- group 1 -->

        <div class="form-group col-8-offset-4 ">
            <input class="form-control form-control-sm" id="price" #price="ngModel" name="price" type="text" 
            [(ngModel)]="editBuffet.price" placeholder="Price" required/> 
        </div> <!-- group 2 -->

        <div class="form-group col-8-offset-4">
            <input class="form-control form-control-sm" id="descriptions" #description="ngModel" name="descriptions" type="text" 
            [(ngModel)]="editBuffet.descriptions" placeholder="Descriptions" required/>
        </div> <!-- group 3 -->

    <!-- image not implement yet
        <div class="form-group">
        <input id="imageUrl" #imageUrl="ngModel" name="imageUrl" type="text" [(ngModel)]="editBook.imageUrl"   placeholder="Image URL" class="form-control"/>
        </div>-->
        
        <button type="submit" id="editBuffetBtn" [disabled]="!editBuffetForm.form.valid" class="btn btn-primary">Save</button>

        <button type="button" class="btn btn-danger pull-right" title="delete menu" [disabled]="!canDelete"
        (click)="removeMenuDetails(editBuffet.buffet_id)"> <i class="fas fa-trash-alt" ></i></button>
        <div *ngFor="let order of orders">
                Last delivery on {{order.event_date | date}}, Reference : {{order.order_number| titlecase}}
        </div>
    </form>
</div> <!-- modal-body -->
</ng-template>

<!--  Create New Dish -->
<ng-template #templateD>
<div class="modal-header">
    <h4 class="modal-title pull-left">Add New Dish</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <br>
    <div class="container">
        
    <form #newDishForm="ngForm" (ngSubmit)="saveNewDish()" novalidate>
        <div class="form-group row">
            <input id="dish_name" #menuName="ngModel" name="dish_name" type="text" 
            [(ngModel)]="newDish.dish_name"   placeholder="Dish Name" class="form-control" required/>
        </div>
        
        <div class="form-group row">
            <input id="descriptions" #description="ngModel" name="descriptions" type="text" 
            [(ngModel)]="newDish.descriptions" placeholder="Descriptions" class="form-control" required/>
        </div>
        <div class="row">
        <div class="col">
            <div class="form-group">
            <input id="price" #price="ngModel" name="price" type="text" [(ngModel)]="newDish.price" 
                placeholder="Price" class="form-control" required/>
            </div>
        </div>
        <div class="col">
            <select class="form-control " #unit="ngModel" id="unit" [(ngModel)]="newDish.unit" 
            [ngModelOptions]="{standalone: true}">
            <option *ngFor="let unit of unitOptions" [ngValue]="unit.value">{{unit.desc}}</option>
            </select>
        </div>
        </div>

        <div class="form-group row" >
            <input type="radio" name="vegetarian" id="vegetarian" [(ngModel)]="newDish.vegetarian" value="y" required>Vegetarian 
            <input type="radio" name="vegetarian" id="vegetarian" [(ngModel)]="newDish.vegetarian" value="n" > Non-Vegetarian
        </div>
    <!-- image not implement yet
        <div class="form-group row">
        <input id="imageUrl" #imageUrl="ngModel" name="imageUrl" type="text" [(ngModel)]="editBook.imageUrl"   placeholder="Image URL" class="form-control"/>
        </div>-->
        <button type="submit" id="newDishBtn" [disabled]="!newDishForm.form.valid" 
        class="btn btn-primary">Save</button>
    </form>
    
    </div>
</div>
</ng-template>

<!-- Create New Buffet Menu -->
<ng-template #templateM>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Create New Menu</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div> <!-- modal-header-->
    <div class="modal-body ">
        <!--
        <div class="small container ml-5" *ngFor="dish of newMenuDishList ">
            <div style="display:inline;">{{ dish | titlecase}} </div>
        </div>
    -->
        <form class="container" #newMenuForm="ngForm" (ngSubmit)="saveNewMenu()" novalidate>
            <div class="form-group">
                <input class="form-control" id="buffet_name" #buffetname="ngModel" name="buffet_name" type="text" 
                [(ngModel)]="newMenu.buffet_name"   placeholder="Buffet Name" required/>
            </div> <!-- group 1 -->

            <div class="form-group">
                    <input class="form-control" id="descriptions" #description="ngModel" name="descriptions" type="text" 
                    [(ngModel)]="newMenu.descriptions" placeholder="Descriptions" required/>
                </div> <!-- group 2 -->

            <div class="form-group">
                <input class="form-control" id="price" #price="ngModel"  name="price" type="text" 
                [(ngModel)]="newMenu.price" placeholder="Price" required/> 
            </div> <!-- group 3 -->

            <select class="form-control " #unit="ngModel" id="unit" [(ngModel)]="newMenu.unit" 
                [ngModelOptions]="{standalone: true}">
                <option *ngFor="let unit of unitOptions" [ngValue]="unit.value">{{unit.desc}}</option>
            </select>
    
        <!-- image not implement yet
            <div class="form-group">
            <input id="imageUrl" #imageUrl="ngModel" name="imageUrl" type="text" [(ngModel)]="editBook.imageUrl"   placeholder="Image URL" class="form-control"/>
            </div>-->
            
            <button type="submit" id="newMenuBtn" [disabled]="!newMenuForm.form.valid" class="btn btn-primary pull-right">Save</button>
        </form>
    </div> <!-- modal-body -->
    </ng-template>
